*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    padding-left: 54px;
    padding-right: 50px;
    font-family: 'Roboto', sans-serif;
}
.container{
    background-color: bisque;
    width: 100%;
    height: 680px;
    background-size: cover;
    padding-left: 50px;
    padding-right: 46px;
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 28px;
}
nav a{
    text-decoration: none;
    color: black;
    gap: 40px;
}
.bagr{
    gap: 40px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
}
.text1{
   display: flex;
    gap: 216px;
    padding-top: 135px;
}
.ptext{
    padding-top: 75px;
}
.mili_container_position{
    position: relative;
    padding-left: 170px;
}

.transform{
    position: absolute;
    top: -100px;
    left: 200px;
}

.coffee{
    position: absolute;
    width: 660px;
height: 390px;
}
.container2{
    display: flex;
    background-color: white;
    gap: 380px;
    margin-top: 161px;
    width: 1445.6px;
height: 500px;
}
.text{
    padding-top: 50px;
}
.world1{
    padding-top: 65px;
}

.container3{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgb(201, 155, 103);
    width: 100%;
height: 480px;
color: white;
margin-top: 216px;
}
.text2{
    padding-top: 112px;
    padding-left: 56px;
}
.sayns{
    padding-top: 30px;
}
.img3{
    position: absolute;
    top: -230px;
    right: 56px;
}

footer{
    background-color: #F3D7B7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 100%;
}

.mili_container_foot{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3D7B7;
    padding: 0px 50px;
}

.images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.face{
    margin-left: 30px;
}
ul a{
    text-decoration: none;
    color: rgb(51, 51, 51);
}
ul a:hover{
    color: blue;
}
